.mat-tab-labels{
  
  // background-color: var(--card-color) !important; 
}
/* Styles for tab labels */
.mat-tab-label {
  /* border-left:1px solid gray; */
  /* padding: 5px; */
  /* color: red; */
  /* font-weight: 700; */
}

/* Styles for the active tab label */
.mat-tab-label.mat-tab-label-active {
  /* padding: 5px; */
  /* background-color: white; */
  /* color: red; */
  /* font-weight: 700; */
}
.mat-tab-label.collide {
  color: var(--warn-color);
  opacity: 1;
  /* animation: flash 2000ms infinite;
  animation-delay: 200ms; */
}
.mat-tab-label:last-child {
  opacity: 1;
  min-width: 20px;
  padding: 0;
}

.mat-tab-label:last-child button mat-icon:focus:active {

  outline: none;
  box-shadow: none;

}
