<mat-tab-group [selectedIndex]="dataService.tabActiveIndex" (selectedTabChange)="tabChanged($event)"
   mat-align-tabs="start">
   <mat-tab *ngFor="let table of dataService.tables;" [label]="table.name">
      <div class="my-3" style="overflow:hidden">
         <app-table [table]="table"></app-table>

      </div>
   </mat-tab>


   <mat-tab disabled>
      <ng-template mat-tab-label>
         <button mat-icon-button matTooltip="Add new schedule">
            <mat-icon style="cursor:pointer" (click)="openAddTable()" color="primary">add</mat-icon>
         </button>
      </ng-template>
   </mat-tab>
</mat-tab-group>
