.spacer {
   flex: 1 1 auto;
 }

 a{
   font-size: large;
 }
 a:link {
  text-decoration: inherit;
  color: inherit;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
}
*{
  font-size: medium;
}

.indigo{
  color:#3F51B5;
}
.purple{
  color:#9C27B0;
}
.yellow{
  color:#FBC02D;
}