<div *ngIf="!!td" class="text-nowrap">
   <span class="d-none">{{td.id}}</span>
   <div class="d-block text-center">
      {{td.lecture.name}}
   </div>

   <div class="d-flex justify-content-evenly">
      <div class="teacherDiv" *ngIf="td.lecture.teacher">
         {{td.lecture.teacher}}
      </div>
      <div class="roomDiv" *ngIf="td.lecture.room">
         {{td.lecture.room}}
      </div>
      <div *ngIf="!dataService.newLecContainer.includes(td); else duration">
         {{time(td.startTime)}} - {{((td.startTime + td.duration)>=13?time(td.startTime + td.duration-12):time(td.startTime +
         td.duration))}}
      </div>
      <ng-template #duration>
         {{td.duration}} Hour{{td.duration>=2?'s':''}}
      </ng-template>
   </div>
   <div class="options">
      <button color="primary" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Lecture Options">
         <mat-icon>more_vert</mat-icon>
       </button>
       <mat-menu #menu="matMenu">
         <app-lecture-options  [td]="td"></app-lecture-options>
       </mat-menu>
       
   </div>
</div>

