<div class="row p-3 " style="height:97vh;width:100vw">
   <div class="col-3 bg-white overflow-auto" style="height: 100%;">
      <app-nav-tree></app-nav-tree>
      <mat-divider class="my-4"></mat-divider>
      <app-created-lecture></app-created-lecture>
   </div>

   <mat-tab-group class="col-9" mat-align-tabs="start">
      <mat-tab label="CIS">
         <div class="my-3">
            <app-table></app-table>

         </div>
      </mat-tab>
      <mat-tab label="IT">
         <div class="my-3">
            <app-table></app-table>
         </div><!--todo pass tableIndex to app-table and dataService.tableLectures as matrix[][] finally make tab dynamic-->
      </mat-tab>
      <mat-tab label="Third">
         <div class="my-3">
            <app-table></app-table>
         </div>
      </mat-tab>
   </mat-tab-group>



</div>