<form [formGroup]="form">
   <div class="container m-auto my-5" style="width:500px">
      <h1>Login</h1>

      <mat-form-field appearance="outline" class="d-block">
         <mat-label>Username</mat-label>
         <input matInput formControlName="username" required />
         <mat-error *ngIf="form.controls['username'].hasError('required');">Please enter your username</mat-error>
         <mat-error *ngIf="form.controls['username'].hasError('maxlength'); ">Value entered is too long</mat-error>
         <mat-error *ngIf="form.controls['username'].hasError('minlength'); ">Value entered is too short</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="d-block">
         <mat-label>Password</mat-label>
         <input type="password" matInput formControlName="password" required />
         <mat-error *ngIf="form.controls['password'].hasError('required')">Please enter your password</mat-error>
         <mat-error *ngIf="form.controls['password'].hasError('maxlength'); ">Value entered is too long</mat-error>
         <mat-error *ngIf="form.controls['password'].hasError('minlength'); ">Value entered is too short</mat-error>
      </mat-form-field>
      <span class=" small text-danger">{{errorMessage}}&nbsp;</span>
      <button class="my-2 w-100" mat-raised-button color="primary" [disabled]="loading" (click)="login()">Login</button>

      <div class="my-1">
         <p class="opacity-50">Don't have an account? <a class="opacity-100 anchor" routerLink="/register">Register
               Now</a></p>
      </div>
   </div>
</form>
