div#test div{
   
}

.test27{
   background-color: var(--disabled-button-toggle-color);
}
.test26{
   background-color: var(--selected-disabled-button-color);
}
.test25{
   background-color: var(--selected-button-color);
}
.test24{
   background-color: var(--focused-button-color);
}
.test23{
   background-color: var(--raised-button-color);
}
.test22{
   background-color: var(--disabled-button-color);
}
.test21{
   background-color: var(--dialog-color);
}
.test20{
   background-color: var(--card-color);
}
.test19{
   background-color: var(--hover-color);
}
.test18{
   background-color: var(--background-color);
}
.test17{
   background-color: var(--app-bar-color);
}
.test16{
   background-color: var(--status-bar-color);
}
.test15{
   background-color: var(--slider-off-active-color);
}
.test14{
   background-color: var(--slider-off-color);
}
.test13{
   background-color: var(--text-color);
}
.test12{
   background-color: var(--icons-color);
}
.test11{
   background-color: var(--icon-color);
}
.test10{
   background-color: var(--secondary-text-color);
}
.test9{
   background-color: var(--hint-text-color);
}
.test8{
   background-color: var(--disabled-text-color);
}
.test7{
   background-color: var(--disabled-color);
}
.test6{
   background-color: var(--dividers-color);
}
.test5{
   background-color: var(--divider-color);
}
.test4{
   background-color: var(--base-color);
}
.test3{
   background-color: var(--warn-color);
}
.test2{
   background-color: var(--accent-color);
}
.test1{
   background-color: var(--primary-color);
}