<div>
   <table class=" w-100 table bg-white table-bordered shadow text-center">
      <thead class="w-10">
         <tr>
            <th>Day&nbsp;\&nbsp;Time</th>
            <th colspan="2">8 - 9</th>
            <th colspan="2">9 - 10</th>
            <th colspan="2">10 - 11</th>
            <th colspan="2">11 - 12</th>
            <th colspan="2">12 - 1</th>
         </tr>
      </thead>
      <tbody cdkDropListGroup>
         <tr *ngFor="let r of table.rows" cdkDropListOrientation="horizontal" cdkDropList class="example-list"
            [cdkDropListData]="r.tds" (cdkDropListDropped)="drop($event)" [cdkDropListSortPredicate]="predicateItems"
            [cdkDropListEnterPredicate]="predicateRow"
            >
            <td cdkDragDisabled>{{r.day}}</td>
            <td *ngFor="let t of r.tds" [colSpan]="t != null?t.duration*2:1" [class.example-box]="t" [cdkDragData]="t"
               cdkDrag [cdkDragDisabled]="!t" 
               >

               <div *cdkDragPlaceholder ></div>
               <app-td [td]="t" class="position-relative"></app-td>
               <div *ngIf="t" class="example-handle" cdkDragHandle>
                  <svg width="24px" fill="currentColor" viewBox="0 0 24 24">
                     <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                     <path d="M0 0h24v24H0z" fill="none"></path>
                  </svg>
                </div>
               <!-- <div *cdkDragPreview matchSize="true"><app-td [td]="t"></app-td></div> -->
            </td>
         </tr>
      </tbody>
   </table>
</div>