
*{
  box-sizing: border-box !important;
}

tr td:first-child,tr th:first-child {
  width: 10% !important;
  /* background-color: blue; */
  border-right: 2px solid black;
}

th {
  width: 15% !important;
  
}
th{
  border:1px solid #ccc;
}

td {
  min-width:7.5%;
  position: relative;
  border:1px solid #ccc;
  
}

.invalidTable{
  border:2px solid var(--bs-danger);
}
.lecture,.off{
  
}


div.cdk-drag-preview {
  vertical-align: middle;
}

