<div>
   <table class=" w-100 table bg-white table-bordered shadow text-center">
      <thead class="w-10">
         <tr>
            <th>Day\Time</th>
            <th colspan="2">8 - 9</th>
            <th colspan="2">9 - 10</th>
            <th colspan="2">10 - 11</th>
            <th colspan="2">11 - 12</th>
            <th colspan="2">12 - 1</th>
         </tr>
      </thead>
      <tbody>
         <tr *ngFor="let r of table.rows" >
            <td>{{r.day}}</td>
            <td *ngFor="let td of r.tds" [colSpan]="td != null&& td != 'todoDelete'?td.duration*2:1">
               <app-td *ngIf="td!='todoDelete'" [td]="td"></app-td>
            </td>
         </tr>

         <!-- <tr cdkDropList class="example-list" (cdkDropListDropped)="drop($event)" cdkDropListOrientation="horizontal">
            <td cdkDragDisabled >Saturday</td>
               <td colspan="2" class="example-box" *ngFor="let ex of exTds" cdkDrag>
                 <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
                 {{ex}}<br>
                 {{ex}}
               </td>          
         </tr>
         <tr>
            <td>Sunday</td>
            <td colspan="2">asdf</td>
            <td colspan="4">physics</td>
            <td>ljfkw</td>
            <td colspan="3">lcxkjv</td>
         </tr>
         <tr>
            <td>Monday</td>
            <td></td>
            <td></td>
            <td colspan="2">asdf</td>
            <td colspan="2">physics</td>
            <td></td>
            <td></td>
            <td></td>
         </tr> -->
      </tbody>
   </table>
</div>