<div>
   <table class=" w-100 table bg-white table-bordered shadow text-center">
      <thead class="w-10">
         <tr>
            <th>Day\Time</th>
            <th colspan="2">8 - 9</th>
            <th colspan="2">9 - 10</th>
            <th colspan="2">10 - 11</th>
            <th colspan="2">11 - 12</th>
            <th colspan="2">12 - 1</th>
         </tr>
      </thead>
      <tbody cdkDropListGroup>
         <tr *ngFor="let r of table.rows" cdkDropListOrientation="horizontal" cdkDropList class="example-list"
            [cdkDropListData]="r.tds" (cdkDropListDropped)="drop($event)">
            <td cdkDragDisabled>{{r.day}}</td>
            <td *ngFor="let t of r.tds" [colSpan]="t != null&& t != 'todoDelete'?t.duration*2:1"
               [class.example-box]="t" cdkDrag [cdkDragDisabled]="!t">
               <div  class="example-custom-placeholder" *cdkDragPlaceholder></div>
               <app-td *ngIf="t!='todoDelete'" [td]="t"></app-td>
            </td>
         </tr>

         <!-- <tr cdkDropListOrientation="horizontal" cdkDropList class="example-list" *ngFor="let ex of exTds"
            [cdkDropListData]="ex" (cdkDropListDropped)="drop($event)">
            <td cdkDragDisabled>Week Day</td>
            <td colspan="2" class="example-box" *ngFor="let e of ex" cdkDrag>
               <div class="example-custom-placeholder" *cdkDragPlaceholder></div>
               {{e}}<br>
               {{e}}
            </td>
         </tr> -->
      </tbody>
   </table>
</div>