@include mat-core();

// Set variables to whatever colors you want for your app
$blue-theme-primary: mat-palette($mat-blue, 700);
$blue-theme-accent: mat-palette($mat-blue, 200);
$blue-theme-warn: mat-palette($mat-red, 700);


