// Set variables to whatever colors you want for your app
$indigo-theme-primary: mat-palette($mat-indigo);
$indigo-theme-accent: mat-palette($mat-pink, 400);
$indigo-theme-warn: mat-palette($mat-red, 700);

