// Set variables to whatever colors you want for your app
$pink-theme-primary: mat-palette($mat-pink, 500);
$pink-theme-accent: mat-palette($mat-pink, 100);
$pink-theme-warn: mat-palette($mat-red, 700);


