@include mat-core();

// Set variables to whatever colors you want for your app
$purple-theme-primary: mat-palette($mat-purple, 400);
$purple-theme-accent: mat-palette($mat-green, A200);
$purple-theme-warn: mat-palette($mat-red, 700);

