<div>
   <mat-slide-toggle color="white" (toggleChange)="isDark = !isDark;selectedTheme.next(selectedTheme.value)" class="mx-2" labelPosition="before" >Dark Mode</mat-slide-toggle>
   <button mat-icon-button [matMenuTriggerFor]="themesMenu" aria-label="Theme selector">
      <mat-icon>format_color_fill</mat-icon>
   </button>
   <mat-menu #themesMenu="matMenu">
      <mat-radio-group (change)="selectedTheme.next($event.value)" aria-label="Select a theme">

         <div *ngFor="let theme of themes" mat-menu-item>
            
            <mat-radio-button  [value]="theme" style="width:130px;position: relative;">
               <span>{{theme.split('-')[1] | titlecase}}</span>
               <div class="preview" [class]="'light-'+theme" style="background-color:var(--primary-color);">
                  <!-- &nbsp; -->
               </div>
            </mat-radio-button>
         </div>
      </mat-radio-group>
   </mat-menu>
</div>