<div>
  <mat-slide-toggle matTooltip="Toggle Dark Mode" color="white" (toggleChange)="isDark = !isDark;selectedTheme.next(selectedTheme.value)" class="mx-2"
    labelPosition="before">Dark Mode</mat-slide-toggle>
  <button class="mx-2" mat-icon-button [matMenuTriggerFor]="themesMenu" matTooltip="Theme" aria-label="Theme selector">
    <mat-icon>format_color_fill</mat-icon>
  </button>
  <mat-menu #themesMenu="matMenu">
    <mat-radio-group (change)="selectedTheme.next($event.value)" aria-label="Select a theme">

      <div *ngFor="let theme of themes" mat-menu-item>

        <mat-radio-button [value]="theme" style="width:130px;position: relative;">
          <span>{{theme.split('-')[1] | titlecase}}</span>
          <div class="preview" [class]="'light-'+theme" style="background-color:var(--primary-color);">
          </div>
        </mat-radio-button>
      </div>
    </mat-radio-group>
  </mat-menu>
  <a href="https://github.com/ahmad-alkaf/schedule_maker" mat-icon-button color="white" target="_blank" matTooltip="Source Code">
    <mat-icon>code</mat-icon>
  </a>
</div>
