<div class="row px-3 " style="height:91vh;width:100vw">
   <div class="col-3 bg-white overflow-auto" style="height: 100%;padding-top:20px;">
      <!-- <div class="w-100" style="margin-bottom:30px;">
         
         <button [disabled]="loading" style="transform:translateX(-50%);margin-left:50%; width:180px;" mat-icon-button color="primary" (click)="saveAll()">Save To My Account<mat-icon></mat-icon></button>
      </div> -->
      <app-nav-tree></app-nav-tree>
      <mat-divider class="my-4"></mat-divider>
      <app-created-lecture></app-created-lecture>
   </div>

   <app-table-tabs class="col-9"></app-table-tabs>
   
</div>