<div class="d-flex">
   <button mat-flat-button [matMenuTriggerFor]="tableOptions" color="primary" aria-label="Table Options">
      <mat-icon >settings</mat-icon>&nbsp;<span>Options</span>
   </button>
   <mat-menu #tableOptions="matMenu">
         <button mat-menu-item (click)="changeName()">
            <mat-icon color="primary">edit</mat-icon>&nbsp;
            <span>Change Table Name</span>
         </button>

         <button mat-menu-item (click)="delete()">
            <mat-icon color="warn">delete</mat-icon>&nbsp;<span>Delete Table</span>
         </button>
         <mat-divider class="m-1"></mat-divider>
         <button mat-menu-item (click)="addLecturesInValidPos()">
            <mat-icon color="primary">table</mat-icon>
            <span>Generate Lectures</span>
         </button>
   </mat-menu>


   <div style="margin-left:auto;">
      <button mat-flat-button color="primary" (click)="pdf()">
         <mat-icon>print</mat-icon>&nbsp;<span>PDF</span>
      </button>
   </div>

</div>