@import "./themes/classes.scss";

// @import url(./assets/bootstrap.css);
@import url("./assets/icon.css");
@import url("./assets/google.font.style.css");

body,html {
  height: 100vh !important;
  overflow:hidden;
}

:root {
  --transBackgroundColor: 500ms;
  --transColor: 50ms;
}

body {
  border: 0;
  padding: 0;
  background-color: var(--background-color) !important;
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  // transition: background-color var(--transBackgroundColor) ease-in-out ,
  //           color var(--transColor) ease-in-out !important;
}

* {
  transition: background-color var(--transBackgroundColor) ease-in-out,
    color var(--transColor) ease-in-out,
    border-right-color var(--transBackgroundColor) ease-in-out,
    border-left-color var(--transBackgroundColor) ease-in-out,
    border-top-color var(--transBackgroundColor) ease-in-out,
    border-bottom-color var(--transBackgroundColor) ease-in-out,
    border-color var(--transBackgroundColor) ease-in-out !important;
}

.aligned-with-icon {
  position: relative;
  top: -3px;
  margin-left: 8px;
}

html,
body {
  height: 100%;
}


.lecture-handle {
  position: absolute;
  top: 5px;
  left: 5px;
  cursor: move;
  width: 18px;
  height: 18px;
  color: var(--primary-color);
}

.cdk-drag-preview {
  box-sizing: border-box;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
  height: 64px !important;
  padding: 0 !important;
  margin: 0 !important;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1),
    background-color var(--transBackgroundColor) ease-in-out,
    color var(--transColor) ease-in-out !important;
}

.cdk-drop-list-dragging :not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1),
    background-color var(--transBackgroundColor) ease-in-out,
    color var(--transColor) ease-in-out !important;
}

.td {
  position: relative;
  height: 65px !important;
  text-align: center;
  vertical-align: middle;
  padding: 0 !important;
  margin: 0px !important;
  // border: 1px solid var(--disabled-color);
}

.lecture {
  border: 2px solid var(--disabled-color) !important;

}

.tdForPrint {
  border: none;
  border-bottom: 2px solid var(--disabled-color) !important;
}

.td:focus {
  outline: 1.8px dotted var(--secondary-text-color) !important;
  border: none;
}

.td:focus.collTeacher,
.td:focus.collRoom {
  outline: 1.8px dotted var(--warn-color) !important;
  border: none;
}



.collTeacher {
  outline: 2px solid var(--warn-color) !important;
  border: none !important;
}

.collTeacher app-td div div.teacherDiv {
  animation: flash 1200ms infinite linear;
  color: var(--warn-color);
}

.collRoom {
  outline: 2px solid var(--warn-color) !important;
  border: none !important;
}

.collRoom app-td div div.roomDiv {
  animation: flash 1200ms infinite;
  color: var(--warn-color);
  transition: background-color var(--transBackgroundColor) ease-in-out,
    color var(--transColor) ease-in-out !important;
}

@keyframes flash {
  0% {
    color: var(--warn-color);
  }

  30% {
    color: var(--warn-color);
  }

  50% {
    color: var(--card-color);
  }

  60% {
    color: var(--warn-color);
  }
}

// .mat-focus-indicator::before {
//   border: none !important;
// }

// ::ng-deep .mat-button-focus-overlay {
//   border: none !important;
// }

// ::ng-deep .mat-icon {
//   border: none !important;
// }

// button.mat-icon:focus{
//   outline: none !important;
// }

// .mat-icon-button ::ng-deep .mat-icon {
//   display: none;
// }

// .mat-icon:active{
//   outline: none !important;
//   border: none !important;
//   -webkit-box-shadow: none !important;
//   box-shadow: none !important;
// }
