* {
  box-sizing: border-box !important;
}

table{
  background-color: var(--card-color) !important;
}

tr td:first-child,
tr th:first-child {
  width: 10% !important;
  /* background-color: blue; */
  vertical-align: middle;
  border-right: 2px solid var(--disabled-color);
}
th,td,tr{
  color:var(--text-color) !important;
  // border-color: var(--text-color) !important;
}
th{
  border-bottom: 2px solid var(--disabled-color) !important;
}
tr td:first-child {
  padding-bottom: 11px;
}

th {
  width: 15% !important;
  
}

th {
  border: 1px solid var(--disabled-color);
}

td {
  min-width: 7.5%;
  position: relative;
  border: 1px solid var(--disabled-color);

}

.invalidTable {
  border: 2px solid var(--warn-color);
}

.lecture,
.off {}


div.cdk-drag-preview {
  vertical-align: middle;
}
