* {
  box-sizing: border-box !important;
}

table{
  background-color: var(--card-color) !important;
  color: var(--secondary-text-color);
  transition: background-color var(--transBackgroundColor) ease-in-out , 
            color var(--transColor) ease-in-out 200ms !important;
}

tr td:first-child,
tr th:first-child {//left column
  width: 10% !important;
  /* background-color: blue; */
  vertical-align: middle;
  border-right: 2px solid var(--disabled-color);
}

th,td,tr{//all cells
  
  border:1px solid var(--divider-color);
}
th{//first row's cells
  border-bottom: 2px solid var(--disabled-color);
  width: 15% !important;
}
td:not(tr td:first-child){//all cells :not(first row and column) i.e all lectures & empty td
  color:var(--text-color);
}
tr td:first-child {//left column :not( first cell (Day / Time))
  padding-bottom: 11px;
}


td {//all cells :not(first row)
  min-width: 7.5%;
  // position: relative;
  // border: 1px solid var(--disabled-color);

}

.invalidTable {
  border: 2px solid var(--warn-color);
}



div.cdk-drag-preview {
  vertical-align: middle;
}
