<h1 mat-dialog-title>Edit Lecture</h1>
<div class="row my-4 justify-content-around">

  <mat-form-field appearance="outline">
    <mat-label>Select Subject</mat-label>
    <mat-select required [(ngModel)]="data.lecture.name">
      <mat-option *ngFor="let lesson of dataService.subjects.value" [value]="lesson.name.toString()">
        {{lesson.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Lecture Duration</mat-label>
    <mat-select  required [(ngModel)]="data.duration">
      <mat-option *ngFor="let h of validHours" [value]="h">
        {{h}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="form.controls['duration'].invalid">Please choose lecture duration</mat-error> -->
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Teacher</mat-label>
    <mat-select [(ngModel)]="data.lecture.teacher">
      <mat-option *ngFor="let teacher of dataService.teachers.value" [value]="teacher.name.toString()">
        {{teacher.name}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="form.controls['teacher'].invalid">Please choose a teacher</mat-error> -->
    <!-- <mat-hint>{{form.value?.sound}}</mat-hint> -->
  </mat-form-field>


  <mat-form-field appearance="outline">
    <mat-label>Select Room</mat-label>
    <mat-select [(ngModel)]="data.lecture.room">
      <mat-option *ngFor="let room of dataService.rooms.value" [value]="room.name.toString()">
        {{room.name}}
      </mat-option>
    </mat-select>
    <!-- <mat-error *ngIf="form.controls['room'].invalid">Please choose a room</mat-error> -->
  </mat-form-field>

  <div mat-dialog-actions class="d-flex justify-content-center">
    <button mat-stroked-button (click)="dialogRef.close()" color="warn" class="w-25">Cancel</button>
    <button mat-stroked-button (click)="dialogRef.close(this.data)" color="primary" class="w-25">Save</button>
  </div>
</div>
