<h1 mat-dialog-title>New Table</h1>
<div mat-dialog-content>
   <mat-form-field appearance="outline">
      <mat-label>Table Name</mat-label>
      <input matInput [formControl]="tableControl" required>
      <mat-error *ngIf="tableControl.hasError('max-length') ">Error: table name is too long</mat-error>
   </mat-form-field>
</div>
<div mat-dialog-actions>
   <button mat-button (click)="dialogRef.close()" color="warn">Cancel</button>
   <button mat-button (click)="addHandler()" cdkFocusInitial color="primary">Add</button>
</div> 